{% extends 'base.html.twig' %}

{% block title %}Edit HardSkill
{% endblock %}

{% block body %}
	<h1>Edit HardSkill</h1>

	{{ include('hard_skill/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_hard_skill_index') }}">back to list</a>

	{{ include('hard_skill/_delete_form.html.twig') }}
{% endblock %}
