{% extends 'base.html.twig' %}

{% block title %}New HardSkill
{% endblock %}

{% block body %}
	<h1>Create new HardSkill</h1>

	{{ include('hard_skill/_form.html.twig') }}

	<a href="{{ path('app_hard_skill_index') }}">back to list</a>
{% endblock %}
